body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("layts.gif");
    background-size:fill;
    font-weight: bolder;
}

.askUser{
    text-align: center;
    color: white;
    font-size:larger;
}

h1{
    color:goldenrod;
    font-style: oblique;
    margin-top: 8%;
}

#message-el{
    font-style: italic;
}


button{
    width: 200px;
    background: goldenrod;
    color: black;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    margin-bottom: 4px;
    margin-top: 4px;
}



