body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    padding: 25px;
    background: linear-gradient(to left, #3C3B3F, #605C3C); 
    color: black;
    font-size: 25px;
}
.dark-mode {
    background: black;
  }
.askUser{
    text-align: center;
    color: white;
    font-size:larger;
}

h1{
    color:goldenrod;
    font-style: oblique;
    margin-top: 8%;
}

#message-el{
    font-style: italic;
}

#developer{
    font-style: oblique;
    text-align: left;
    font-size: 18px;
    font-family: cursive;
    color:cyan;
}
button{
    width: 200px;
    background: goldenrod;
    color: black;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    margin-bottom: 4px;
    margin-top: 4px;
}


